.container {
  background-color: pink;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "left main right";
}

.leftPanel {
  grid-area: left;
}

.rightPanel {
  grid-area: right;
}

.mainPanel {
  grid-area: main;
}
